<style>
    /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
<header>
    <div class="container-fluid" id="secondary-header">
        <div class="row">
            <div class="col-sm-12"></div>
                <div class="col-sm-12" id="main">
                    <h1 id="title">Not Your Maid</h1>
                </div>
            <div class="col-sm-12" id="orderBorder"></div>    
        </div>
    </div>
</header>
<div class="container" id="tasklist-container">
   <div class="row">
       <div class="col-sm-12">
           <h2 id="tasks-title">Manage Your Household Status & Inventory</h2>
        </div>
    </div>

    <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>

    <div class="col-sm">
        <button type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
            <div class="handle"></div>
        </button>
    </div> 
</div>

<footer class="footer">
    <div class="container" id="footer-container">
        <a href="/payment"><img class="footerIcons" id="paymenticon" src="css/images/transfer-10-white.png" alt="payments"></a>
        <a href="/inventory"><img class="footerIcons" src="css/images/026-home-white-fixed.png" alt="inventory"></a>
        <img class="footerLogo" src="css/images/appIcon.png" alt="not your maid logo">
        <a href="/tasks"><img class="footerIcons" src="css/images/list111-white.png" alt="tasklist"></a>
        <a href="/settings"><img class="footerIcons" id="settingsicon" src="css/images/settings-5-white.png" alt="settings"></a>
    </div>
</footer>