<div id="fb-root"></div>

<div class="container" id="titleBox">
    <div class="row">
        <div class="col-sm-12"></div>
            <div class="col-sm-12" id="main">
                <h1 id="title">Not Your Maid </h1>
                <h2>Clean Up After Your Own Damn Self</h2>
            </div>
        <div class="col-sm-12" id="orderBorder"></div>
    </div>
</div>
<h1 id="joinus">Join Us</h1>
<div class="container" id="login">
    <form class="create-form">
    <div class="form-group">
        <label for="user"><i class="far fa-user fa-3x"></i></label>
        <input type="text" id="user" name="user" value="Full Name">
    </div>
    <hr>
    <div class="form-group">
        <label for="email"><i class="far fa-envelope fa-3x"></i></label>
        <input type="text" id="email" name="email" value="Email">
    </div>
    <hr>
    <div class="form-group">
        <label for="password"><i class="fas fa-unlock-alt fa-3x"></i></label>
        <input type="text" id="password" name="password" value="Password">
    </div>
    <hr>
    <button type="submit" id="orderButton">Submit</button>
    </form>
</div>
<div class="container" id="new-user">
    <h2 id="or">OR</h2>
        
    <div id="status"></div>
    <div class="row">
        <button class="col-sm-12 loginBtn loginBtn--facebook" id="facebook-login">Sign in with Facebook</button>
    </div>
</div>

<script src="/js/login.js"></script>
