<head>
</head>
<header>
    <div class="container-fluid" id="secondary-header">
        <div class="row">
            <div class="col-sm-12"></div>
                <div class="col-sm-12" id="payment-title">
                    <h1 id="title">Not Your Maid </h1>
                </div>
            <div class="col-sm-12" id="orderBorder"></div>
        </div>
    </div>
</header>

<div class="col-sm-12 reimbursePanel">
<img class="roommateImg" src="">
<img class="roommateImg" src="">
<img class="roommateImg" src="">
<br>
<span> your roommates for </span>
<br>
<span>4 missed chores</span>
</div>
{{!-- <div class="emailPayments"><span id="emailPaymentsSpan"><img id="emailPayments" src="css/images/043-email-blue.png"></span></div>
<div class="cardInfoBox">
    <div class="creditCardDiv"><span id="creditCardDivSpan"><img id="creditCardDiv" src="css/images/credit-card-blue.png"></span></div>
    <div>
        <span class="calendarPayment"><span id="calendarPaymentSpan"><img id="calendarPayment" src="css/images/calendar-6-blue.png"><span></span>
        <span class="CVCLock"><span id="CVCLockSpan"><img id="CVCLockSpan" src="css/images/locked-4-blue.png"></span></span>
    </div>
</div> --}}
<div class="paymentForm">
    <div class="form-group">
        <div id="" class=""></div>
            <label for="email"><i class=""></i></label>
            <input type="text" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <div id="" class=""></div>
            <label for="creditcard"><i class=""></i></label>
            <input type="number" id="" name="creditcard" placeholder="xxxx xxxx xxxx xxxx">
    </div>
    <div id="" class="form-group">
        <div id="expirationDate" class=""></div>
            <label for="birthdate"><i class=""></i></label>
            <input type="date" id="birthdate" name="birthdate" placeholder="12/20">
            <div id="CVV" class=""></div>
            <label for="CVV"><i class=""></i></label>
            <input type="number" id="CVV" name="CVV" placeholder="333">
    </div>
</div>

<div class="payNow">Pay $16.00</div>


<footer class="footer">
    <div class="container" id="footer-container">
        <a href="/payment"><img class="footerIcons" id="paymenticon" src="css/images/transfer-10-white.png" alt="payments"></a>
        <a href="/inventory"><img class="footerIcons" src="css/images/026-home-white-fixed.png" alt="inventory"></a>
        <img class="footerLogo" src="css/images/appIcon.png" alt="not your maid logo">
        <a href="/tasks"><img class="footerIcons" src="css/images/list111-white.png" alt="tasklist"></a>
        <a href="/settings"><img class="footerIcons" id="settingsicon" src="css/images/settings-5-white.png" alt="settings"></a>
    </div>
</footer>

<script src="../public/js/payment.js"></script>
