<header>
    <div class="container-fluid" id="secondary-header">
        <div class="row">
                <div class="col-sm-12" id="settings-title">
                    <h1 id="title">Not Your Maid</h1>
                </div>
            <div class="col-sm-12" id="orderBorder"></div>    
        </div>
    </div>
</header>

<div class="container" id="settings-container">
    <div class="row">
        <div class="col-sm">
            <p id="user-name">Olivia Garrett</p>
        </div> 
    </div>
    <div class="row">
        <div class="col-sm">
            <i class="fas fa-user" id="user-icon"></i>
            <p id="other-users">Pres Garrett</p>
            <img src="css/images/email.png" alt="message other user" id="message-user">
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <i class="fas fa-user" id="user-icon"></i>
            <p id="other-users">Annie Chan</p>
            <img src="css/images/email.png" alt="message other user" id="message-user">
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <i class="fas fa-user" id="user-icon"></i>
            <p id="other-users">Connor Kish</p>
            <img src="css/images/email.png" alt="message other user" id="message-user">
        </div>
    </div>

    <button id="log-out-btn">Log Out</button>
    <button id="delete-acct-btn">Delete Account</button>
</div>    
<footer class="footer">
    <div class="container" id="footer-container">
        <a href="/payment"><img class="footerIcons" id="paymenticon" src="css/images/transfer-10-white.png" alt="payments"></a>
        <a href="/inventory"><img class="footerIcons" src="css/images/026-home-white-fixed.png" alt="inventory"></a>
        <img class="footerLogo" src="css/images/appIcon.png" alt="not your maid logo">
        <a href="/tasks"><img class="footerIcons" src="css/images/list111-white.png" alt="tasklist"></a>
        <a href="/settings"><img class="footerIcons" id="settingsicon" src="css/images/settings-5-white.png" alt="settings"></a>
    </div>
</footer>
<script src="/js/settings.js"></script>