<div id="document">
<header>
    <div class="container-fluid" id="secondary-header">
        <div class="row">
                <div class="col-sm-12" id="main">
                    <h1 id="title">Not Your Maid</h1>
                </div>
            <div class="col-sm-12" id="orderBorder"></div>    
        </div>
    </div>
</header>

<div class="container" id="tasklist-container">
   <div class="row">
       <div class="col-sm-12">
           <h2 id="tasks-title">Your Chores</h2>
        </div>
    </div>
    <div class="task-append" id="task-append">
        {{!-- <div class="div-to-append">
            <div class="row">
                <div class="col-sm" id="taskcontainer">
                    <button id="tasks">Rent Due</button>
                    <img src="css/images/edit-white.png" alt="update button" id="update-button">
                    <img src="css/images/garbage-2-white.png" alt="delete button" id="delete-button">
                    <i class="far fa-caret-square-down" id="more-button"></i>
                </div>
            </div>    
            <div class="row">   
                <div class="col-sm">
                    <p id="task-edit">Update Chore:</p>
                        <input type="text" id="task-edit">
                    <p id="assigned-to">Assigned to:</p>
                        <input type="text" id="assigned-to">
                    <p id="due-by">Due On:</p> 
                        <input type="date" id="due-by"> 
                </div>
            </div>
        </div> --}}
    </div>
    {{!-- <div class="row">
        <div class="col-sm" id="taskcontainer">
            <button id="tasks"><i class="fas fa-check"></i>Vacuum Living Room</button>
            <img src="css/images/edit-white.png" alt="update button" id="update-button">
            <img src="css/images/garbage-2-white.png" alt="delete button" id="delete-button">
            <i class="far fa-caret-square-down" id="more-button"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p id="task-edit">Update Chore:</p>
                <input type="text" id="task-edit">
            <p id="assigned-to">Assigned to:</p>
                <input type="text" id="assigned-to">
            <p id="due-by">Due On:</p> 
                <input type="date" id="due-by"> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm" id="taskcontainer">
            <button id="tasks"><i class="fas fa-check"></i>Wash the Dishes</button>
            <img src="css/images/edit-white.png" alt="update button" id="update-button">
            <img src="css/images/garbage-2-white.png" alt="delete button" id="delete-button">
            <i class="far fa-caret-square-down" id="more-button"></i>            
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p id="task-edit">Update Chore:</p>
                <input type="text" id="task-edit">
            <p id="assigned-to">Assigned to:</p>
                <input type="text" id="assigned-to">
            <p id="due-by">Due On:</p> 
                <input type="date" id="due-by"> 
        </div>
    </div>              --}}
    <div class="row">
        <div class="col-sm-12">
            <button id="add-chore">+ Add Chore</button>
        </div>
    </div>    
    <div class="row">   
        <div class="col-sm">
            <p id="add-task">New Chore:</p>
                <input type="text" id="add-task">
            <p id="add-assign">Assign to:</p>
                <input type="text" id="add-assign">
            <p id="add-dueby">Due On:</p> 
                <input type="date" id="add-dueby-input"> 
        </div>    
    </div>               
</div>
{{!-- 
<footer class="footer">
    <div class="container" id="footer-container">
        <a href="/payment"><img class="footerIcons" id="paymenticon" src="css/images/transfer-10-white.png" alt="payments"></a>
        <a href="/inventory"><img class="footerIcons" src="css/images/026-home-white-fixed.png" alt="inventory"></a>
        <img class="footerLogo" src="css/images/appIcon.png" alt="not your maid logo">
        <a href="/tasks"><img class="footerIcons" src="css/images/list111-white.png" alt="tasklist"></a>
        <a href="/settings"><img class="footerIcons" id="settingsicon" src="css/images/settings-5-white.png" alt="settings"></a>
    </div>
</footer> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>
<script src="/js/tasks.js"></script>
