<div id="document">
<header>
    <div class="container-fluid" id="secondary-header">
        <div class="row">
                <div class="col-sm-12" id="tasks-header">
                    <h1 id="title">Not Your Maid</h1>
                </div>
            <div class="col-sm-12" id="orderBorder"></div>    
        </div>
    </div>
</header>

<div class="container" id="tasklist-container">
   <div class="row">
       <div class="col-sm-12">
           <h2 id="tasks-title">Your Chores</h2>
        </div>
    </div>
    <div class="task-append" id="task-append">
    </div>
<footer class="footer">
    <div class="container" id="footer-container">
        <a href="/payment"><img class="footerIcons" id="paymenticon" src="css/images/transfer-10-white.png" alt="payments"></a>
        <a href="/inventory"><img class="footerIcons" src="css/images/026-home-white-fixed.png" alt="inventory"></a>
        <img class="footerLogo" src="css/images/appIcon.png" alt="not your maid logo">
        <a href="/tasks"><img class="footerIcons" src="css/images/list111-white.png" alt="tasklist"></a>
        <a href="/settings"><img class="footerIcons" id="settingsicon" src="css/images/settings-5-white.png" alt="settings"></a>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>
<script src="/js/tasks.js"></script>
