/* ***Color Scheme***
Blue - #297373
Pinkish -  #FF8552
Green - #9AE841
White - #F2F4F4
Grey - #DADBDC
***Fonts***
Title - Lobster (google fonts)
Everything else - Arial Rounded MT Bold

anything faded is at 65% opacity*/

/* ***************************** */
/* TITLE AND MAIN ELEMENTS */
/* *************************** */
body {
  background: #F2F4F4;
}
#titleBox {
  background-color: #F2F4F4;
  text-align: center;
  margin-bottom: 10px;
  /* position:fixed;
  top:0;
  right:0;
  left:0;
  z-index:1030; */
}
#secondary-header {
  position: fixed;
  top:0;
  right:0;
  left:0;
  z-index:1030;
  background:#FF8552
}
#joinus {
  text-align:center;
  font-family: 'Lobster', cursive;
  color: #FF8552;
  font-size: 3em;
}
h2 {
  font-family: 'Nunito', sans-serif;
  color: #F2F4F4;
  font-size: 2.25em;
}
#main {
  font-family: 'Lobster', cursive;
  color: #F2F4F4;
  text-align: center;
  font-size: 1.375em;
  margin-top:10px;
}
/* ***************************** */
/* LOGIN/HOMEPAGE */
/* *************************** */
#login-title {
  font-family: 'Lobster', cursive;
  color: #FF8552;
  font-size: 4em;
  background-color: #F2F4F4;
}
#login-subtitle {
  font-family: 'Nunito', sans-serif;
  color: #297373;
  font-size: 2.25em;
}
#homepage-container {
  background:#F2F4F4;
  padding:0px;
}
#leftside-home {
  margin-top:0px;
  background: #F2F4F4;
  padding-top:50px;
}
#homepage-text {
  color: #297373;
  font-size: 148%;
  text-align: center;
}
#nym-logo {
  width:176px;
  height:176px;
  padding:0px;
  margin:60px;
  margin-left:70px;
}
ul {
  font-family: 'Nunito', sans-serif;
  color: #297373;
  font-size: 147%;
  text-align: left;
  padding-top:50px;
  padding-left:0px;
}
#title-divider, #homepage-divider {
  border-top: 3px double #DADBDC;
}
#orderBorder {
  margin-bottom:100px;
}
/* ***************************** */
/* CONTINUE WITH FACEBOOK BUTTON */
/* *************************** */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  width: 20%;
  margin: 0.2em;
  margin-left:500px;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 44px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn:focus, .loginBtn:hover {
  outline: none;
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
/* ***************************** */
/* CREATE ACCOUNT PAGE */
/* *************************** */
#login-container {
  width:95%;
  border: solid;
  border-color: #FF8552;
  border-radius: 10px;
  margin: auto;
  margin-bottom:10px;
  margin-top:15px;
}
hr {
  border-color:#ffdbcc;
}
/* Form Styling */
input {
  width: 100%;
}
input[type=text], input[type=number], input[type=password], input[type=date], input[type=tel], select[id="state"] {
  border: solid;
  border-radius: 10px;
  border-color: #ffdbcc;
  font-family: 'Nunito', sans-serif;
  font-size:1.75em;
}
#birthdate, #phone, #state, #zipcode, #house-pass, #new-house-pass, #new-house-pass-confirm, #house, #new-house {
  border: solid;
  border-radius: 10px;
  border-color: #ffdbcc;
  width: 100%;
  height: 44px;
}
#houselogin {
  font-family: 'Nunito', sans-serif;
  color: #FF8552;
  font-size: 2.25em;
}
button {
  background: #FF8552;
  color: #F2F4F4;
  font-family: 'Nunito', sans-serif;
  width:100%;
  padding: 15px;
  margin-top:15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  font-size: 2.25em;
}

/* TASK MANAGER PAGE */
#tasks-header {
  font-family: 'Lobster', cursive;
  color: #F2F4F4;
  text-align: center;
  font-size: 2em;
  margin-top:10px;
}
#tasks-title {
  font-family: 'Lobster', cursive;
  color: #FF8552;
  text-align: center;
  font-size: 2.25em;
  margin-top:80px;
}
#tasks {
  background: #297373;
  border-style: none;
  border-radius: 0px;
  height: 44px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.375em;
  color: #F2F4F4;
  padding-top: 5px;
  text-align: left;
  border-bottom: none;
  margin-bottom: 0;
  width: 85.54%;
  float: left;
}
#due-by, #assigned-to, #task-edit {
  background:#369696;
  border-style: none;
  border-radius:0px;
  height:44px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.375em;
  color: #DADBDC;
  margin-top:0px;
  margin-bottom: 0px;
  padding-top: 0px;
}
.delete-button, .update-button, .more-button, .check-button  {
  width:40px;
  height: 44px;
  float: left;
  background: #297373;
  margin-bottom:0;
  padding:5px;
  /* padding-left:2px;
  padding-bottom:5px;
  padding-top: 5px; */
  margin-top:0px;
}
.more-button {
  color: #DADBDC;
}
#add-chore {
  background: #caccce;
  font-family: 'Nunito', sans-serif;
  font-size: 1.375em;
  color: #F2F4F4;
  border-radius: 0px;
  margin-bottom:0px;
}
#add-task, #add-assign, #add-dueby, #add-dueby-input {
  background:#DADBDC;
  border-style: none;
  border-radius:0px;
  height:44px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.375em;
  color: #F2F4F4;
  margin-top:0px;
  margin-bottom: 0px;
  padding-top: 0px;
}
#add-dueby-input {
  margin-bottom: 500px;
}

/* INVENTORY PAGE */
input[type="checkbox"] {
  background: #FF8552
}
/* SETTINGS PAGE */
#settings-title {
  font-family: 'Lobster', cursive;
  color: #F2F4F4;
  text-align: center;
  font-size: 2em;
  margin-top:10px;
}
#user-name {
  margin-top:100px;
  background: #297373;
  width:100%;
  height:44px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.374em;
  color: #F2F4F4;
  padding-top:5px;
  text-align: center;
}
#user-icon {
  background: #DADBDC;
  height:44px;
  width:10%;
  color: #297373;
  float: left;
  padding:10px;
}
#other-users {
  background: #DADBDC;
  height:44px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.374em;
  color: #F2F4F4;
  padding-top:5px;
  padding-left: 10px;
  width:85.91%;
  float:left;
}
#message-user {
  background: #DADBDC;
  height:44px;
  color: #297373;
  float: left;
}
#log-out-btn {
  background: #297373;
  font-family: 'Nunito', sans-serif;
  font-size: 1.375em;
  color: #F2F4F4;
  margin-bottom:0px;
  border-radius:4px;
}
#delete-acct-btn {
  background: #FF8552;
  font-family: 'Nunito', sans-serif;
  font-size: 1.375em;
  color: #F2F4F4;
  margin-bottom:50px;
  border-radius:4px;
}

/* ***************************** */
/* FOOTER/NAV */
/* *************************** */
#login-footer {
  margin:auto;
  margin-left:0;
  height:75px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 1.375em;
  color: #f2f4f4;
  padding:10px;
}
.footer {
  position: fixed;
  margin: auto;
  margin-left: -78px;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #ff8552;
}
#footer-container {
  background-color: #FF8552;
}
.footerIcons {
  background-color: #FF8552;
  width: 10%;
  height: auto;
  float: left;
  display: block;
  padding: 2%;
  margin-left: 100px;
  margin-right: auto;
}
.footerLogo {
  width: 10%;
  float: left;
  padding: 2%;
  margin-left: 75px;
  border-radius: 10px;
  background-color: #297373;
}

/* ***************************** */
/* PAYMENT PAGE */
/* *************************** */
#payment-title {
  font-family: 'Lobster', cursive;
  color: #F2F4F4;
  text-align: center;
  font-size: 2em;
  margin-top:10px;
}
.reimbursePanel {
background-color: #297373;
color: #F2F4F4;
margin-top: 84px;
text-align: center;
font-family: 'Nunito', sans-serif;
font-size: 1.375em;
}
.payNow {
  background-color: #297373;
  color: #F2F4F4;
  text-align: center;
  line-height: 70px;
  font-family: 'Nunito', sans-serif;
  width: 300px;
  height: 70px;
  font-size: 1.375em;
  border-radius: 20px;
  margin-top: 25px;
  margin: auto;
}

.cardInfoBox {

}

.emailPayments {

}

  /* *************************************************** */
  /* FOR MOBILE PHONES - SPECIFICALLY iPHONE6 - 375x667 */
  /* *************************************************** */
@media only screen and (max-width: 667px) {
  /* ***************************** */
  /* MOBILE Title and Main Page Elements */
  /* ***************************** */
  #titleBox {
    background-color: #FF8552;
    text-align: center;
  }
  #secondary-header {
    position: fixed;
    top:0;
    right:0;
    left:0;
    z-index:1030;
  }
  #title {
    font-size: 2em;
  }
  #joinus {
    text-align:center;
    font-size: 2em;
  }
  h2 {
    font-size: 1.625em;
  }
  #main {
    font-family: 'Lobster', cursive;
    color: #F2F4F4;
    text-align: center;
    font-size: 1.375em;
    margin-top:10px;
  }
/* ***************************** */
/* MOBILE LOGIN/HOMEPAGE */
/* *************************** */
#login-title {
  font-family: 'Lobster', cursive;
  color: #F2F4F4;
  font-size: 2em;
  background-color: #FF8552;
}
#login-subtitle {
  font-family: 'Nunito', sans-serif;
  color: #F2F4F4;
  font-size: .9em;
}
#homepage-container {
  background:#F2F4F4;
  padding:0px;
}
#leftside-home {
  margin-top:0px;
  background: #F2F4F4;
  padding-top:0px;
}
#homepage-text {
  color: #297373;
  font-size: 1.25em;
  text-align: center;
}
#nym-logo {
  width:100px;
  height:100px;
  padding:0px;
  margin-top: 10px;
  margin-left:130px;
  margin-bottom:15px;
}
ul {
  font-family: 'Nunito', sans-serif;
  color: #f4f2f2;
  font-size: 1em;
  text-align: left;
  padding-top:15px;
  padding-left:55px;
  padding-bottom:15px;
  background-color: #297373;
}
#title-divider {
  border-top: 0px double #DADBDC;
}
#homepage-divider {
  border-top: 2px double #DADBDC;
  width:75%;
}
#login-footer {
  color: #F4f2f2;
  font-family: 'Nunito', sans-serif;
  font-size:.7em;
  text-align: center;
  padding-top:30px;
}
#orderborder {
  margin-bottom:10px;
}
/* ***************************** */
/* MOBILE CONTINUE WITH FACEBOOK BUTTON */
/* *************************** */
.loginBtn {
  width: 65%;
  margin: 0em;
  margin-left:65px;
}
  /* ***************************** */
  /* MOBILE CREATE USER PAGE */
  /* ***************************** */
  #houselogin {
    font-size: 1.65em;
  }
  #login-container {
    margin-top:35px;
    margin-bottom:35px;
  }
  input[type=text], input[type=number], input[type=password], input[type=date], input[type=tel], select[id="state"] {
    font-size:1.375em;
  }
  button {
    font-size: 1.65em;
  }
  /* ***************************** */
  /* MOBILE TASK MANAGER PAGE */
  /* ***************************** */
  #tasks-header {
    font-family: 'Lobster', cursive;
    color: #F2F4F4;
    text-align: center;
    font-size: 1.375em;
    margin-top:10px;
  }
  #tasks-title {
    font-family: 'Lobster', cursive;
    color: #FF8552;
    text-align: center;
    font-size: 2em;
    margin-top: 60px;
  }
  #tasks {
    background: #297373;
    border-style: none;
    border-radius: 0px;
    height: 44px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.375em;
    color: #F2F4F4;
    padding-top: 5px;
    text-align: left;
    border-bottom: none;
    margin-bottom: 0;
    width: 63%;
    float: left;
  }
  #due-by, #assigned-to, #task-edit {
    background:#369696;
    border-style: none;
    border-radius:0px;
    height:44px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.375em;
    color: #DADBDC;
    margin-top:0px;
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .delete-button, .update-button, .more-button {
    width:40px;
    height: 44px;
    float: left;
    background: #297373;
    margin-bottom:0;
    padding-top: 2px;
    margin-top:15px;
  }
  .more-button {
    color: #DADBDC;
  }
  #add-chore {
    background: #caccce;
    font-family: 'Nunito', sans-serif;
    font-size: 1.375em;
    color: #F2F4F4;
    margin-bottom:0px;
    border-radius:0px;
  }
  #add-task, #add-assign, #add-dueby, #add-dueby-input {
    background:#DADBDC;
    border-style: none;
    border-radius:0px;
    height:44px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.375em;
    color: #F2F4F4;
    margin-top:0px;
    margin-bottom: 0px;
    padding-top: 0px;
  }
  #add-dueby-input {
    margin-bottom: 100px;
  }
  /* ***************************** */
  /* MOBILE SETTINGS PAGE */
  /* ***************************** */  
  #settings-title {
    font-family: 'Lobster', cursive;
    color: #F2F4F4;
    text-align: center;
    font-size: 1.375em;
    margin-top:10px;
  }
  #user-name {
    margin-top:60px;
    background: #297373;
    width:100%;
    height:44px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.374em;
    color: #F2F4F4;
    padding-top:5px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
  }
  #user-icon {
    background: #DADBDC;
    height:44px;
    color: #297373;
    float: left;
    border-radius: 4px 0px 0px 4px;
  }
  #other-users {
    background: #DADBDC;
    height:44px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.374em;
    color: #F2F4F4;
    padding-top:5px;
    padding-left: 10px;
    width:76.5%;
    float:left;
  }
  #message-user {
    background: #DADBDC;
    height:44px;
    color: #297373;
    float: left;
    border-radius: 0px 4px 4px 0px;
  }
  #log-out-btn {
    background: #297373;
    font-family: 'Nunito', sans-serif;
    font-size: 1.375em;
    color: #F2F4F4;
    margin-bottom:0px;
    border-radius:4px;
  }
  #delete-acct-btn {
    background: #FF8552;
    font-family: 'Nunito', sans-serif;
    font-size: 1.375em;
    color: #F2F4F4;
    margin-bottom:50px;
    border-radius:4px;
  }
  /* MOBILE PAYMENT PAGE */
  #payment-title {
    font-size: 1.375em;
    margin-top:10px;
  }
  /* ***************************** */
  /* MOBILE FOOTER */
  /* ***************************** */  
  #footercolumns {
    width:20%;
  }
  .footer {
    position: fixed;
    margin: auto;
    bottom: 0;
    width: 100%;
    height: auto;
  }
  #footer-container {
    background-color: #FF8552;
  }
  .footerIcons {
    width: 20%;
    height: auto;
    float: left;
    padding: 2%;
    margin-top: 4.1%;
    margin-left: 0;
  }
  .footerLogo {
    width: 20%;
    height:auto;
    float: left;
    border-radius: 10px 10px 0px 0px;
    background-color: #297373;
    padding: 1%;
    padding-top: 4.4%;
    padding-bottom: 2.6%;
    margin-left: 0;
  }
}